* 
{
  margin: 0;
  padding: 0;
}
body
{
padding-bottom: 30px;
}
p
{
font-family: Consolas;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 29px;

color: #363E46;

}
a:link {text-decoration: none; color:#363E46;} 
a:visited { text-decoration: none; color:#363E46;  } 
a:active{color: #F96D00;}
a:hover{color: #F96D00;}
a:link.h1{color: #F2F2F2;}
a:visited.h1{color: #F2F2F2;}
a:active.h1{color: #F96D00;}
a:hover.h1{color: #F96D00;}
div.header
{
	position: absolute;
	width: 100%;
	height: 112px;
	left: 0px;
	top: 0px;
	background: #393E46;
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;	
}
@media screen and (max-width: 690px)
{h1
{
font-size: 24px;
height: 43px;
margin-bottom: 5px;
line-height: 26px;
}}
@media screen and (max-width: 820px) and (min-width: 690px)
{h1
{
font-size: 27px;
height: 77px;

line-height: 66px;
}}
@media screen and (min-width: 820px)
{h1
{
font-size: 36px;
height: 47px;

line-height: 42px;
}}
h1
{
width:100%;

font-family: Play;
font-style: normal;
font-weight: normal;

color: #F2F2F2
}
img
{
width: 84px;
height: 84px;
margin: 16px;
}
#menu__toggle {
  opacity: 0;
}
@media screen and (max-width: 820px)
{
.menu-btn{
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right:30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}
 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F2F2F2;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
 
.menubox{
  display: block;
  position: absolute;
  visibility: hidden;
  top: -100%;
  right: 0;
  width: 330px;
  height: 100%;
  padding: 80px 0;
  list-style: none;
  z-index: 2;
  background-color: #F2F2F2;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
 
.menu-item {
  display: block;
  padding: 12px;
  width: 90%;
  height: 47px;
  font-family:Calibri;
  font-weight: normal;
  font-size: 24px;
  	line-height: 47px;

  text-decoration: none;
  
}

 
 
#menu-toggle{
  opacity: 0;
}
 
#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
  background-color: #363E46;
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
  background-color: #363E46;
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
  background-color: #363E46;
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  top: 0;
}
}
.body
{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}
@media screen and (max-width: 820px)
{div.list
{
width: 0;
}}
@media screen and (min-width: 820px)
{div.list
{
width: 23%;
}}
div.list
{
position: relative;
display: flex;
flex-direction:column;
justify-content: flex-start;
align-items:center;
height: 1400px;
left: 0px;
top: 112px;
background: #F2F2F2;
}
h3
{	
width: 95%;
height: 33px;
margin: 25px 25px 10px 20px;
padding-left: 20px;
padding-right: 10px;
font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 29px;

color: #363E46;
}
ul
{
padding-left: 10px;
list-style-type: none;
height: 393px;	

}
li
{
width: 95%;
height: 37px;
margin: 5px;
font-family:Calibri;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;

color: #363E46;
}
li.here
{
	color: #F96D00;
}
@media screen and (max-width: 820px)
{div.exp
{

width: 100%;
height: 1500px;
}}
@media screen and (min-width: 820px)
{div.exp
{
height: 1400px;
width: 75%;
}}
div.exp
{
z-index: 1;
position: relative;
top: 112px;
display: flex;
flex-direction:column;
background: #F2F2F2;
}

h3.exp
{
width: 85%;
top: 50px;
}
p.exp1
{
position: relative;
margin: 10px 40px;

}

