#exp11
{
position: relative;
width: 90%;
height: 368px;
top: 7px;
}
@media screen and (max-width: 567px)
{
#ukaz
{
width: 130.72px;
height: 18.82px;
left: 10px;
top: 50px;
}
#luch1
{
width: 154px;
height: 155px;
left: 121px;
top: 103px;
}
#luch2
{
width: 154px;
height: 155px;
left:121px;
top: 256px;
}
#miror
{
width: 390px;
height: 190px;
left: 0px;
top: 162px;
transform: rotate(-90deg)
}}

@media screen and (max-width: 1193px) and (min-width: 567px)
{
#ukaz
{
width: 130.72px;
height: 18.82px;
left: 50px;
top: 50px;
}
#luch1
{
width: 154px;
height: 155px;
left: 161px;
top: 103px;
}
#luch2
{
width: 154px;
height: 155px;
left:313px;
top: 103px;
}
#miror
{
width: 390px;
height: 190px;
left: 119px;
top: 79px;
}}
@media screen and (min-width: 1193px)
{
#ukaz
{
width: 250px;
height: 36px;
left: 16px;
top: 89px;
}
#luch1
{
width: 294px;
height: 295px;
left: 202px;
top: 171px;
}
#luch2
{
width: 294px;
height: 295px;
left:492px;
top: 171px;
}
#miror
{
width: 746px;
height: 364px;
left: 121px;
top: 125px;
}
}
#ukaz
{
cursor: pointer;
position: absolute;
transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0)
}
#luch1
{
opacity: 0;
position: absolute;
}
#luch2
{
opacity: 0;
position: absolute;
transform: matrix(-1, 0, 0, 1, 0, 0);

}
#miror
{
position: absolute;
}