
@media screen and (max-width: 840px) 
{#exp11
{
left: 7px;
}}
@media screen and (min-width: 840px)
{#exp11
{
left: 207px;
}}
#exp11
{
position: relative;
width: 40%;
height: 268px;
top: 7px;
}

#nasos
{
position: absolute;
width: 269px;
height: 244px;
left: 59px;
top: 98px;

}
#rul
{
position: absolute;
width: 112px;
height: 96px;
margin-top: 1px; 
left: 64px;
top: 31px;

cursor: pointer;
}
#shar
{
position: absolute;
width: 32px;
height: 41px;
left: 300px;
top: 215px;
opacity: 1;

}
p.exp2
{
position: relative;
top: 153px;
margin: 10px 40px;
}
#exp12
{
position: relative;
width: 40%;
height: 268px;
left: 10px;
top: 77px;
}
@media screen and  (max-width: 547px)
{
#water
{
width: 260px;
left: 77px;
top: 405px;
}
#glass
{
width: 320px;
left: 50px;
top: 190px;
}
#stru
{
width: 20px;
left: 80px;
top: 152px;
height: 290px;	
}
#kran
{
width: 90px;
height: 90px;
left: 7px;
}}
@media screen and  (max-width: 606px) and (min-width: 547px)
{
#water
{
width: 365px;
left: 105px;
top: 440px;
}
#glass
{
width: 450px;
left: 66px;
top: 210px;
}
#stru
{
width: 30px;
left: 109px;
top: 170px;	
height: 295px;
}
#kran
{
width: 110px;
height: 110px;
left: 24px;
}
}
@media screen and (max-width: 915px) and (min-width: 606px)
{
#water
{
width: 405px;
left: 115px;
top: 445px;
}
#glass
{
width: 490px;
left: 73px;
top: 215px;
}
#stru
{
width: 30px;
left: 123px;
top: 181px;	
height: 295px;
}
#kran
{
width: 123px;
height: 123px;
left: 26px;
}
}
@media screen and (min-width: 915px)
{#water
{
width: 475px;
left: 111px;
top: 465px;
}
#glass
{
width: 590px;
left: 60px;
top: 250px;
}
#stru
{
width: 37px;
left: 118px;
top: 181px;	
height: 295px;
}
#kran
{
width: 123px;
height: 123px;
left: 26px;
}
}
#water
{
position: absolute;
height: 100px;
}
#glass
{
position: absolute;
height: 386px;
}
#kran
{
cursor: pointer;
position: absolute;

top: 73px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
#stru
{
transform: matrix(1, 0, 0, 1, 0, 0);	
opacity: 0; 
position: absolute;
}